

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@400;800&family=Quicksand:wght@300;400&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');


* {
  box-sizing: border-box;
  color: #292930;
  font-family: "Montserrat", sans-serif;

}
body {
  background: #f5f4f0;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans';
}
/*////////////////////////////////PHONE STYLE/////////////////////////
//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 300px) {
  .homepagecontainer {
    width: 100%;
  }

  .nav {
    display: flex;
    height: 50px;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 1;
  }
  .navbutton {
    background-color: Transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 8000;
    text-emphasis-color: whitesmoke;
    border: none;
    margin-right: 20px;
    margin-right:20px;

    font-size: 40px;
  }
  .navbuttontxt{
    text-decoration: none;

  }

  .banner {
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1599663096647-fdcf4e951f9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    position: relative;
    background-color: transparent;
    background-position: center;
    opacity: 85%;
    background-repeat: no-repeat;
    filter: drop-shadow(10px 10px 30px #aeaec0 40%);
    background-size: cover;
    z-index: -1;

  }

  /*HOME VIEW*/
  .maincontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  .welcome {
    font-style: normal;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    animation: fadeIn linear 3s;
  }

  .welcome2 {
    font-style: normal;
    color: whitesmoke;
    position: absolute;
    top: 55%;
    left: 60%;
    font-size: 18px;
    animation: fadeIn linear 4s;

  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


    /*ALL WATERS VIEW*/
    .pagecontainer{
      height:100%;
      width: fit-content;

    }

    header{
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-80%,-50%);
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      width:50%;
      align-items:center;
      background-color: transparent;
    }
    .pagetitle{
      animation-duration: 3s;
      animation-name: slideintextleft;
      animation-delay: 0.01s;
      -webkit-animation-timing-function: ease-in-out;
      position: relative;

    }
    .pagetext{
      animation-duration: 3s;
      animation-name: slideintextright;
      animation-delay:  0.03s;
      animation-timing-function: cubic-bezier(0.50, 0.90, 0.165, 0);
      -webkit-animation-timing-function: ease-in-out;
    }
    @keyframes slideintextleft {
      from {
        transform: translateX(-500px);
        opacity: 0
      }
      to {
        transform: translateX(0px);
        opacity: 1
      }
    }
    @keyframes slideintextright {
      from {
        transform: translateX(800px);
        opacity: -4
      }
      to {
        transform: translateX(0px);
        opacity: 1
      }
    }


    .homewrapper {
      background-color: #f5f4f0;
      margin-top: 60px;
      position: absolute;
      display: flex;
      top: 95%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
      align-content:center;


    }


    .eachimage{
      width:255px;
      height: 300px;
      padding: 30px;

    }
    .allwaternv a:visited {
      color: rgb(16, 3, 3);
      text-decoration: none;
    }
  .spacer{
    margin-top:30px ;
  }

section{
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:transparent;
    color: transparent;

}


.images{
    width: 100%;
    height: 110%;
    position: relative;
    z-index: -1;
    top: -10%;
}

.image-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: 30px;
    padding: 50px;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
}

.imagecontainer{
  display: flex;
  background-color: transparent;
z-index: 1;

}



.content {
    height: 60%;
    width: 100%;
    background-color: #f5f4f0;
    z-index: 2;
    opacity: 96%;

    position: absolute;
    top: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.content-images {
  top: 40px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-image-wrapper {
    height: 220px;
    width: 150px;
    text-align: center;
    position: relative;

}

.content-image-wrapper img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
     position: relative;
}


.content-image-wrapper h4 {
    font-size: 1.8em;
    position: relative;
    top: -30px;
    opacity: 0.6;
}

.text {
    padding: 40px;
    width: 60%;
    font-size: 0.8em;
    text-align: center;
    position: relative;
}

.imagewrap{
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: transparent;
  padding-left: 0px;
  padding-left: 0px;


}


/*////////////////////////////////other////////// */
.rod {
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  width: 2px;
  height: 150px;
  border-radius: 5px;
  transform-origin: 50% 0%;
  transform: rotate(60deg);
  background-color:white;
}

.pivot {
  position: absolute;
  top: 400px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.ball {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}


.ml15 {
  margin-right: 400px;
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  margin: -.5rem 0 0 -.5rem;
  border: 1px solid currentColor;
  transform: scale(0);
}

.square{
  width: 50px;
  height: 80px;
  margin: 40px;
  border-radius: 50%;
  background-color: grey;
}

.bvideo{
  position: "absolute";
  top: -100px;
  z-index: -2;
  object-fit: cover;
  width :100%;






}
/*////////////////////////////////WEB STYLE/////////////////////////
//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////// */
/* @media screen and (min-width: 1100px) {
  .homepagecontainer {
    background-color: greenyellow;

    width: 100%;
  }
}
/*ROUTES*/

/* body {
  background: #f0f0f3;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.nav {
  display: flex;
  height: 50px;
  width: auto;
  font-family: "Work Sans", sans-serif;
  border-radius: 20px;
  position: absolute;
  margin-top: 70px;
  margin-left: 1000px;
  justify-content: flex-end;
}
.navbutton {
  background-color: Transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 8000;
  text-emphasis-color: whitesmoke;
  padding: 10px;
  border: none;
  margin-right: 20px;
  right: 100%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.homepagecontainer {
  max-width: 1366;
  min-height: 768;
}
.maincontainer {
  height: 100vw;
  border-radius: 20px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  font-family: "Work Sans", sans-serif;
  margin-top: 0%;
  max-width: 1920px;
}
/*HOME VIEW*/
/* .maincontainer {
  position: relative;
  text-align: center;
  color: white;
}
.welcome {
  font-style: normal;
  color: whitesmoke;
  position: absolute;
  top: 40%;
  right: 44%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  animation: fadeIn linear 3s;
}

.welcome2 {
  font-style: normal;
  color: whitesmoke;
  position: absolute;
  top: 47%;
  right: 40%;
  font-size: 18px;

  animation: fadeIn linear 8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bannerimage {
  width: auto;
  background-image: url(https://images.unsplash.com/photo-1579565609412-52715e4e519f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  height: 700px;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  opacity: 94%;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 10px 30px #aeaec0 40%);
  background-size: cover;
}

.home {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid grey;
  margin: 200px;
  flex-wrap: wrap;

  height: 93vh;
  position: relative;
}
.homebox {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 300px;
  min-width: 1080px;
  gap: 3px;
}

/*LINKS*/
/* a:link {
  color: #395273;
  text-decoration: none;
}
a:visited .navbutton {
  color: whitesmoke;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: rgb(176, 176, 176);
  text-decoration: none;
} */ */ */ */
